
.container > nav {
  @extend .navbar;
  @extend .navbar-default;
  background: url(/img/gplaypattern.png);

  header {
    @extend .navbar-header;
  }
}

.navbar .btn {
  padding: 9px 10px;
  margin : 5px;
}



.btn {
  font-weight: 700;
}

.actions {
  input,
  a {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-sm;

    &.new-item,
    &.submit {
      @extend .btn-success;
    }

    &.cancel {
      @extend .btn-danger;
    }
  }
}

.form-delete {
  display: inline;

  input {
    @extend .btn;
    @extend .btn-danger;
  }
}



.panel-heading {
  @extend .clearfix;

  h3 { 
    margin: 5px 0;
    @extend .col-xs-12;
    @extend .col-sm-6;
  }

  .actions {
    @extend .text-right;
    @extend .col-xs-12;
    @extend .col-sm-6;
  }
}



.no-results {
	@extend .text-center;
	@extend .alert;
	@extend .alert-info;
}

.table-index {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
}

.table-details {
  @extend .table;

  th {
    width     : 7em;
    text-align: right;
  }
}
