
.panel-heading {
  @extend .clearfix;

  h3 {
    @extend .col-xs-6;
    margin: 5px 0;
  }
  .actions {
    @extend .col-xs-6;
    @extend .text-right;
  }
}


.form-delete {
  display: inline;
}


.no-results {
	@extend .text-center;
	@extend .alert;
	@extend .alert-info;
}

.table-details {
  th {
    width     : 7em;
    text-align: right;
  }
}